#调用LLM
API_KEY=your_api_key

#数据库
DATABASE_URL=mysql+pymysql://用户名:密码@localhost:3306/fastapi_demo

SECRET_KEY=your_secret_key

#邮箱配置
SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USERNAME=your_qq_com
SMTP_PASSWORD=your_password

