# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.local

# =========================
# Uploaded Files
# =========================

uploads/

# =========================
# Vector Database
# =========================

chroma/

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log